body {
    background-color: #082B59;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  p {
      font-size: 1.2rem;
    }
  /* make images flexible */
  img {
    max-width: 100%;
  }
  a {
    color: #59331d;
  }
  a:hover {
    text-decoration: none;
  }
  header {
    padding: 2rem 0 0 0;
    border-bottom: 10px solid #d98555;
  }
  /* navbar styling */
  nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row no wrap;
    /* border: 1px solid green; */
  }
  nav li {
    margin: 0 1rem 1rem 1rem;
    font-size: 1.5rem;
  }
  /* max width on the image in pixels */
  nav .logo img {
    max-width: 200px;
  }
  /* flex basis on the image container, li */
  nav .logo {
    flex-basis: 20%;
    justify-content: left;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: block;
  }
  nav a:hover {
    color: #d98555;
  }
  .container-link {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 80%;
    padding: 5.3rem 4em 0.4rem 0;
    justify-content: right;
  }
  /* establishes a white background */
  .main-bkgd {
    background: #ffffff url(images/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  /* sits inside of the white background, centered */
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    gap: 24.8vw;
  }
  article {
    flex-basis: 30%;
    /* border: 1px solid green; */
  }
  figure {
    margin: 4rem 0 0 0;
    flex-basis: 50%;
    border-radius: 30px;
  }
  figure img {
    border-radius: 10px;
  }
  footer {
    color: #f2f2f2;
    text-align: center;
    margin: 0 auto;
    border-top: 10px solid #d98555;
  }
  footer .disclaimer {
    font-size: 1rem;
    font-weight: 300;
    margin: 0 6rem 0 6rem;
    padding: 0 0 2rem 0;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
/* First breakpoint - Tablet */

  @media (max-width: 900px) {
    header {
      padding: 0 0 0 0;
    }
    nav ul {
      text-align: center;
      margin: 0 0 0 0;
      justify-content: center;
      flex-flow: row wrap;
    }
    nav li {
      margin: 0 1rem 0 1rem;
      font-size: 1.5rem;
    }
    nav .nav-link {
      font-size: 1.4rem;
      padding: 0 0 0.4rem 0;
      flex-basis: 100%;
    }
    .container-link {
      display: flex;
      flex-flow: row nowrap;
      flex-basis: 80%;
      padding: 1rem 0 1rem 0;
    justify-content: center;
    }
    .main {
      /* flex-flow: row nowrap; */
      gap: 0vw;
    }
    article {
      flex-basis: 45%;
    }
    figure {
      flex-basis: 50%;
    }
    footer .disclaimer {
      margin: 0 2rem 0 2rem;
    }
  }

  /* Second break point - Mobile */

  @media (max-width: 676px) {
    header {
      padding: 0 0 0 0;
    }
    nav .nav-link {
      font-size: 1.4rem;
      padding: 0 0 1rem 0;
    }
    /* Change nav to column layout */
    .container-link {
      flex-flow: row wrap;
      gap: 10px;
    }
    .main {
      flex-direction: column;
      padding: 0 2rem 0 2rem;
      /* justify-content: center; */
    }
    figure {
      flex-basis: 100%;
      text-align: center;
    }
    figure img {
      width: 38rem;
    }
    footer {
      padding: 0 4rem 0 4rem;
    }
    footer .disclaimer {
      margin: 0 0 0 0;
    }
  }